[submodule "Tutorial/gray-scott/common/libzmq"]
	path = Tutorial/gray-scott/common/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "Tutorial/gray-scott/common/cppzmq"]
	path = Tutorial/gray-scott/common/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "Tutorial/gray-scott/common/json"]
	path = Tutorial/gray-scott/common/json
	url = https://github.com/nlohmann/json.git
